* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}
body {
  font-family: var(--font), Helvetica, sans-serif;
}
.cookie.hidden {
  display: none;
}
.cookie {
position: fixed;
bottom: 0;
right: 0;
width: 100vw;
padding: 1em;
z-index: 10;

background-color: var(--basic-color);
border-radius: 3px;
font-size: clamp(16px, 2vw, 1em);
color: var(--font-color);
}
.cookie__box {
  width: 100%;
  padding-top: 10px;
  display: flex;
}
.cookie__box__icon {
  width: 24px;
  height: 24px;
  width: clamp(25px, 4vw, 70px);
  height: clamp(25px, 4vw, 70px);
  padding: .2em;
  color: var(--secondary-color);
}
.cookie__box__description {
  margin: 0;
  padding-left: .5em;
}
.cookie__box__description--link {
  text-decoration: none;
  color: var(--secondary-color);
}
.cookie__box__description--link:hover {
  text-decoration: underline;
}
.cookie__button {
  float: right;
  width: clamp(110px, 15vw, 150px);
  height: 2.1em;
  margin: 10px 1em 0 0;

  color: var(--basic-color);
  font-size: 1em;
  letter-spacing: 2px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
}
.cookie__button:hover {
  color: var(--secondary-color);
  font-weight: bolder;
  background-color: var(--basic-color);
  border: 2px solid var(--secondary-color);
}

.container {
  width: 100%;
  padding: 0 0.75rem 0 0.75rem;
  margin: 0 auto;
  color: var(--font-color);
}
/* Section: NAV */
.navigation {
  position: fixed;
  width: 100%;
  margin: 0;
  background: rgba(255, 255, 255, .9);
  border-bottom: 1px solid rgba(39, 39, 39, 0.2);
  z-index: 5;

  transition: transform .5s;

  display: flex;
  flex-direction: column;
}

.quick-transition{
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navigation>*{
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navigation__slideup {
  height: 0px !important;            
  overflow-y: hidden;
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.navigation__slidedown {            
  height: 60px ;            
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;        
} 

.navigation__burger {
  width: 40px;
  height: 30px;
  font-style: normal;
  font-size: 1.2em;
  margin: 10px;
  transition: transform .5s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navigation__burger--line {
  width: 24px;
  height: 4px;
  margin: 2px;

  border-radius: 10px;
  background-color: var(--secondary-color);
  transition: transform .35s  cubic-bezier(0.25, 0.46, 0.45, 0.94), 
              opacity .2s .1s;
}
.navigation.active  .burger__active--one {
  transform: rotate(45deg) translate(6px, 6px);
  transition: transform .3s  cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navigation.active  .burger__active--two {
  opacity: 0;
  transition: opacity .1s;
}
.navigation.active  .burger__active--three {
  transform: rotate(-45deg) translate(5px, -6px);
  transition: transform .3s  cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navigation__burger__checkbox {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: -100px;
  opacity: 0;
}
.navigation__burger__checkbox:checked ~ .navigation__menu {
  display: block;
  padding-left: 2px;
}
.navigation__menu {
  display: block;
  z-index: -1;
  margin-top: -226.5px;
  padding-left: 2px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.9);
  transition: transform .5s;
  animation: topSlideUp .9s forwards;
}
.navigation.active .navigation__menu {
  display: block;
  padding-left: 2px;
  padding-bottom: 10px;
  z-index: -1;
  margin-top: -226.5px;
  background: rgba(255, 255, 255, 0.9);
  animation: topSlide .5s  forwards;
}
@keyframes topSlide {
  0% {
    transform: translateY(0);
    opacity: 0;
    border-bottom: 0 solid rgba(39, 39, 39, 0.2);
  }
  50%{
    transform: translateY(120px);
    opacity: 0;
    border-bottom: 0 solid rgba(39, 39, 39, 0.2);
  }
  100% {
    transform: translateY(226.5px);
    opacity: 1;
    border-bottom: 1px solid rgba(39, 39, 39, 0.2);
  }
}
@keyframes topSlideUp {
  0% {
    transform: translateY(226.5px);
    opacity: 1;
    border-bottom: 1px solid rgba(39, 39, 39, 0.2);
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateY(1px);
    opacity: 0;
    border-bottom: 0 solid rgba(39, 39, 39, 0.2);
  }
}
.navigation__menu__list {
  padding: 10px;
  list-style: none;
}
.navigation__menu__list__link {
  color: var(--secondary-color);
  text-decoration: none;
  border-bottom: transparent;
}
.navigation__menu__list__link:hover {
  border-bottom: 2px solid var(--secondary-color);
  transition: .2s ease;
}
.navigation__menu__list__link.active{
  color: var(--secondary-color);
  font-weight: bolder;
  border-bottom: 2px solid var(--secondary-color);
  transition: .2s ease;
}

/* .navigation__menu__list__link:link {
  text-decoration: none;
}
.navigation__menu__list__link:hover{
  text-decoration: underline var(--secondary-color);
}

/* .navigation__menu__list__link:focus {
  color: var(--secondary-color);
  font-weight: bolder;
}
.navigation__menu__list__link:active {
  color: var(--secondary-color);
  font-weight: 900;
} */
.page__version__button {
  position: absolute;
  top: 11px;
  left: 60px;
  text-align: center;

  width: 28px;
  height: 28px;
  padding: 0;
  background: none;
  border: 1px solid transparent;
  border-radius: 5px;
}
.page__version__button:hover {
  border: 1px solid #0098c9;
  border-radius: 5px;
}
.page__version__button a {
  text-decoration: none;
  color: var(--secondary-color);
}
.navigation__logo {
  position: absolute;
  height: 50px;
  width: 200px;
  padding: 10px;
  height: 50px;
  transition: transform .5s;

  display: flex;
  align-self: flex-end;
}
.navigation__logo__img {
  width: 100%;
  height: 100%;
}
.navigation__arrow {
  position: fixed;
  bottom: 10%;
  right: 5%;
  width: 2em;
  height: 2em;

  background: var(--basic-color);
  border-radius: 50%;
  
  z-index: 5;
  transition: .6s;
}
.navigation__arrow:hover, .navigation__arrow:focus {
  transform: scale(1.3, 1.3);
  transition: transform .6s;
}
.navigation__arrow.hidden {
  display: none;
}

/* Section: HERO */
.hero {
  position: relative;
  height: 100vh;
  color: var(--basic-color);
  overflow: hidden;
}
.hero__img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: none;
  animation: slider 1s ease-in-out;
}
@keyframes slider {
  0% { transform: scale(1.02); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}
.hero__img__1 {
  background-image: url("../image/hero/stay_healthy.jpg");
}
.hero__img__2 {
  background-image: url("../image/hero/stay_happy.jpg");
}
.hero__img__3 {
  background-image: url("../image/hero/stay_clean.jpg");
}
.hero__img.active {
  display: flex;
}
.hero__img__overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--pic--overlay--color);
}
.hero__section {
  margin-top: 65px;
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
.hero__title {
  margin: 0px;
  font-size: clamp(3em, 9vw, 10.25em);
  font-weight: 600;
  line-height: 1.2;
}
.hero__subtitle {
  margin: 0px;
  font-size: clamp(1.125em, 2.6vw, 3em);
  font-weight: normal;
  text-align: right;
}
.hero__subtitle.hero__subtitle--bold {
  font-weight: 600;
}
.hero__slide__arrows {
  position: absolute;
  z-index: 2;
  top: 47%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hero__arrow {
  display: none;
}
.hero__arrow:hover {
  color: var(--secondary-color);
  transition: 0.5s ease-out;
}
.hero__arrow:focus {
  outline: none;
}
.hero__slide__dots {
  position: absolute;
  top: 90%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.hero__dot {
  margin: 8px;
  height: 1em;
  width: 1em;
  background-color: var(--transparent-color);
  border-radius: 50%;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  border: none;
  display: inline-block;
  cursor: pointer;
}
.hero__dot.active {
  background-color: var(--secondary-color);
}
.hero__dot:hover {
  background-color: var(--secondary-color);
  transition: 0.5s ease-out;
}
.hero__dot:focus {
  outline: none;
}

/* Section: FEATURES */
.section__features {
  background: var(--primary-color);
}
.features {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features__action {
  width: 100%;
  margin: 8px 0;
  padding: 0 16px;

  background: var(--basic-color);
  border-radius: 3px;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  color: var(--font-color);
  text-align: center;
  cursor: default;
}
.features__action__h {
  margin: 10px;
  font-size: 24px;
}
.features__action__p {
  margin: 16px 0;
  font-size: var(--text-font-size);
  line-height: 1.2;
}
.features__action__img {
  width: 70px;
}
.features__action__img:focus,
.features__action__img:hover {
  animation: pulse 1.3s;
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  80% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* Section: OUR MISSION */
.section__mission {
  background-color: var(--primary-color);
}
.mission {
  width: 100%;
  max-height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission__image {
  width: 92%;
  margin: 16px;
}
.mission__image--img {
  width: 100%;
  height: 150px;

  box-shadow: 0px 4px 10px var(--box-shadow-color);
  border-radius: 3px;
  object-fit: cover;
}
.mission__section {
  width: 100%;
  color: var(--basic-color);
}
.mission__section--h {
  margin: 0;
  padding: 0 24px;
  font-size: var(--med-header-font-size);
}
.mission__section__discription {
  padding: 0 24px;
  font-size: var(--text-font-size);
  line-height: 1.2;
}
.mission__section__discription--hidden {
  display: none;
}
.mission__section__discription-p {
  padding-left: 50%;
  font-size: 0.9em;
  text-align: center;
  font-style: italic;
}
/* Section: ADDITIONAL FEATURES */
.section__additional__features{
   background-color: var(--third-color);
}
.additional__features {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.additional__features__box__header__icon {
  width: 48px;
  height: 48px;
}
.additional__features__box {
  width: 100%;
  margin: 16px;
  padding: 1.5em;

  display: flex;
  flex-direction: column;

  background: var(--basic-color);
  box-shadow: 0px 4px 10px var(--box-shadow-color);
  box-sizing: border-box;
  border-radius: 4px;
}
.additional__features__box__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #364954;
}
.additional__features__title {
  margin: 16px 16px 16px 8px;
  display: block;
  font-size: 1.5rem;
  line-height: 1em;
}
.additional__features__box__body {
  color: #364954;
  font-size: 1rem;
  flex: 1 0 5em;
}
.additional___features__box__body__text {
  margin-left: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.additional__features__box__read__more__trigger {
  float: right;
  padding: 0 0.5em;

  color: #0098c9;
  font-size: 1rem;
  cursor: pointer;
}
.additional__features__box__read__more__checkbox {
  display: none;
}
.additional__features__box__read__more__checkbox
  ~ .additional__features__box__read__more__trigger:before {
  content: "Czytaj więcej";
}
.additional__features__box__read__more__checkbox:checked
  ~ .additional__features__box__read__more__trigger:before {
  content: "Czytaj mniej";
}
.additional__features__box__read__more__checkbox:checked
  ~ .additional___features__box__body__text {
  -webkit-line-clamp: initial;
  -webkit-box-orient: initial;
  overflow: visible;
}
/* Section: OUR WORKS */
.section__ourwork {
  background-color: var(--third-color);
  padding: 64px 0;
}
.ourwork {
  padding: 5px 0 24px 0;
}
.ourwork__h {
  text-align: left;
  font-size: 1.5em;
  padding-left: 10px;
}
.ourwork__present {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourwork__present__section {
  width: 90%;
  margin: 16px;
  position: relative;
}
.ourwork__present__section__img {
  width: 100%;
  height: 250px;
  object-fit: cover;

  border-radius: 3px;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
}
.ourwork__present__section__button {
  width: 100%;
  height: calc(100% - 4px);
  position: absolute;
  bottom: 4px;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  background-color: #0097c971;
  border: #0097c9;
  border-radius: 3px;
  font-family: var(--font), Helvetica, sans-serif;
  font-size: 1em;
  color: var(--basic-color);
  opacity: 0;
  /* cursor: pointer; */
  transition: 0.2s 0.1s linear;
}
.ourwork__present__section__button--h {
  font-size: 1.5em;
}
.ourwork__present__section__button:hover, .ourwork__present__section__button:focus {
  opacity: 1;
  transition: 0.2s 0.1s linear;
}
.ourwork__present__section__button:active {
  border: 2px solid #c0c0c0;
  transition: none;
}
/* Section: OUR TEAM */
.team {
  width: 100%;
  margin: 64px 0;
}
.team__header {
  padding-left: 10px;
  font-size: 1.5em;
  text-align: left;
}
.team__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.team__card {
  width: 80%;
  min-height: 200px;
  margin: 50px auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
  color: var(--primary-color);
  perspective: 1000px;
  transition-duration: 1s;
}

.team__card__container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;

  
}

.team__card:hover .team__card__container{
  transform: rotateY(180deg);
}

.team__card__styling {
  justify-content: initial;
  margin: 0% auto;
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  
  text-align: center;
  color: var(--primary-color);
}

.team__card__front, .team__card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.team__card__back{
  transform: rotateY(180deg);
}

.team__card__img__container {
  width: 50%;
  margin: -15% auto 0%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.team__card__img {
  width: 100px;
  height: 100px;
  border-radius: inherit;
  object-fit: cover;
  box-shadow: 0px 4px 10px var(--box-shadow-color);
}
.team__card__header {
  margin: auto;
  width: 100%;
}
.team__card__name {
  font-size: 1.5em;
}
.team__card__title {
  font-size: 1.2em;
  margin-bottom: 15%; /* to tweak as desired */
}
.team__card__icons {
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}
.team__card__icon__link {
  color: var(--secondary-color);
  text-decoration: none;
}
/* Section: FOOTER */
.footer {
  padding: 1% 3% 0% 3%;
  background-color: var(--primary-color);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
}
.play__game__again {
   width: 196px;
   height: 25px;
   margin-left: calc(50% - 98px);
   color: white;
   background: transparent;
   border: 1px solid #fff;
   border-radius: 5px;
   transition: transform .8s ease;
}
.play__game__again:hover {
  transform: scale(1.2, 1.2);
  transition: transform .8s ease;
}

.footer__item {
  width: 100%;
  margin: 4px 0;

  color: var(--transparent-color);
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8em;
}
.footer__link {
  color: var(--transparent-color);
  text-decoration: none;
  text-align: center;
}
.footer__link:visited {
  color: var(--transparent-color);
}
.footer__icons {
  width: 100%;
  order: -1;
  display: flex;
  justify-content: space-evenly;
}
.footer__copyright__text {
  font-size: 0.7em;
  text-align: center;
}
/*  MEDIA */
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .hero__section {
    padding-right: 70px;
  } 
  .features {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .features__action {
    width: 45.5%;
    min-height: 280px;
    margin: 10px;
  }
  .features__action__h {
    font-size: 2em;
  }
  .additional__features__box {
    width: 100%;
    padding: 1.5em;
  }
  .additional__features__title {
    font-size: 2em;
  }
  .ourwork__present {
    flex-direction: row;
    justify-content: space-between;
  }
  .ourwork__h {
    font-size: 2em;
  }
  .ourwork__present__section {
    flex: 1 0 25%;
  }
  .team__card {
    width: 40%;
  }
  .team__header{
    font-size: 2em;
  }
  .footer__item{
    width: 33.33%;
    order: 0;
    align-items: center;
  }
  .footer__icons{
    width: 33.33%;
  }
}

@media (min-width: 768px) {
  .cookie {
    width: 60%;
  }
  .container {
    max-width: 720px;
  }
  .navigation {
    width: 100%;
    /* height: 51px; */
    position: fixed;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--transparent-color);
    z-index: 5;
  }
  .navigation__burger {
    opacity: 0;
  }
  .navigation__burger__checkbox {
    display: none;
  }
  .page__version__button {
    top: 16px;
    left: 96%;
  }
  .navigation__logo {
    margin: 5px;
    align-self: flex-start;
  }
  .navigation__menu, .navigation.active .navigation__menu {
    margin: 10px 3% 10px 10px;;
    padding: 0 16px 0 2px;
    background: transparent;

    display: flex;
    list-style-type: none;
    font-size: 1em;
    animation: none;
  }
  .navigation__menu__list {
    padding: 10px;
    box-sizing: border-box;
  }
  .hero__arrow {
    margin: 15px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: var(--transparent-color);
    background-color: transparent;
    font-size: clamp(5em, 6vw, 8em);
    font-weight: 200;
    text-shadow: 0px 4px 10px var(--box-shadow-color);
  }
  .additional__features__box {
    width: 100%;
    padding: 1.5em;
  }
  .additional__features__title {
    font-size: 2rem;
  }
  .mission {
    flex-direction: row;
  }
  .mission__image {
    width: 50%;
  }
  .mission__image--img {
    width: 100%;
    min-height: 450px;
  }
  .mission__section__discription--hidden {
    display: inline-block;
  }
  .mission__section {
    width: 50%;
    padding: 0;
  }
  .mission__section--h {
    margin: 16px 0;
    font-size: 2em;
  }
  .team__container {
    margin: 0 auto;
  }
  .team__card__img__container{
    margin-top: -15%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .features__action {
    height: 230px !important;
    flex: 1 0 20%;
  }
  .additional__features__box {
    width: 46%;
    padding: 2em;
  }
  .additional__features__title {
    font-size: 2rem;
  }
  .additional__features__box__header__icon {
    width: 64px;
    height: 64px;
  }
  .mission__image {
    width: 50%;
  }
  .team__card{
    width: 20%;
    margin-top: 50px;
  }
  .team__card__img__container{
    margin-top: -15%;
  }
  .footer__links {
    justify-content: flex-start;
  }
  .footer__link {
    width: 45%;
    padding: 0% 5% 0% 0%;
  }
  .footer__icons {
    justify-content: space-around;
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .hero__section {
    padding-right: 100px;
  }
  .features__action__img {
    width: 80px;
  }
  .team__header {
    margin: 2.5% auto;
    text-align: left;
    font-size: 2em;
  }
  .team__card {
    width: 20%;
    margin: 5% auto;
    /* padding: 32px 32px 16px 32px; unneeded? */ 
  }
  .team__card__title {
    font-size: 1rem;
  }
  .team__card__icons {
    font-size: 2rem;
  }
}
