html, body {
     margin: 0;
     padding: 0;
}
.canvas {
     position: fixed;
     top: 0;
     left: 0;
     z-index: 1000;
     width: 100%;
     height: 100vh;
     margin: 0 auto;
     background-color: rgba(54, 73, 84, 0.8);
     display: flex;
     justify-content: center;
     align-items: center;
}
.canvas.hidden {
     display: none;
}
.game__box {
     position: relative;
     width: min(800px, 100%);
     height: min(520px, 100%);

     border: 3px solid #000;
     background-image: url('./game_image/screen-1.svg');
     background-size: cover;
     background-position: center;

     display: flex;
}
.game__box.hidden {
     display: none;
}
.game__button {
     margin-left: calc(50% - 55.5px);
     margin-bottom: 1%;
     padding: 2px 25px;
     font-size: 2em;
     border: 2px solid #000;
     align-self: flex-end;
}
.close__window {
     position: absolute;
     top: 6px;
     right: 6px;
     width: 24px;
     height: 24px;
     z-index: 2;
}
.close__window::before {
     content: '';
     position: absolute;
     top: 6px;
     right: 0;
     width: 24px;
     height: 4px;
     background-color: #000;
     transform: rotate(45deg);
}
.close__window::after {
     content: '';
     position: absolute;
     top: 6px;
     right: 0;
     width: 24px;
     height: 4px;
     background-color: #000;
     transform: rotate(-45deg);

}
/* .button-start {
     position: absolute;
     bottom: 50px;
     right: 50px;
     width: 150px;
     height: 50px;

     font-size: 1.5em;
} */
.progress__bar {
     position: relative;
     width: 209px;
     height: 35px;
     margin-top: 4px;
     margin-bottom: 15px;

}

.progress__bar__empty {
     position: absolute;
     height: 100%;
     background-image: url('./game_image/progressbarempty.svg');
     transition: width 0.4s;
     width: 100%;
}
.progress__bar__fill {
     position: absolute;
     height: 100%;
     background-image: url('./game_image/progressbarfull.svg');
     transition: width 0.4s;
     z-index: 5;
}
.progress__bar__value {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 6;
     color: #272727;

     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
}
.game--food{  /* replace bad and good with this */
     position: absolute;
     width: 45px;
     height: 38px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
}
/*
.game__box--badfood {
     
     position: absolute;
     width: 45px;
     height: 38px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center; 
     
}
.game__box--goodfood {
     position: absolute;
     width: 45px;
     height: 38px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center; 
     
}*/
.hidden-food {
     display: none;
}
.human {
     position: absolute;
     top: 30%;
     right: .1vw;
     width: 53px;
     height: 125px;
     background-image: url('./game_image/ludek3.svg');
     background-size: cover;
     z-index: 2;
}
.human.active  {
     position: absolute;
     top: 30%;
     right: .1vw;
     width: 53px;
     height: 125px;
     background-image: url('./game_image/ludek-1.svg');
     background-size: cover;
     z-index: 2;
}
.game__stats{
     /* margin: -36px auto; */

     height: 36px;
     width: 100%;

     background-color: #5E717A;

     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;

     font-size: 24px;
     color: whitesmoke;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     align-items: center;
}
.game__stats.hidden {
     display: none;
}
.game__stat{
     width: 33%;
     height: 35px;
     margin: 0px 20px;
}
.progress__bar {
     position: relative;
     width: 209px; /* widen? */
     height: 35px;
     margin-top: 2px;
     /* margin-bottom: 15px; */

}
.progress__bar__empty {
     position: absolute;
     height: 100%;
     background-image: url('./game_image/progressbarempty.svg');
     transition: width 0.4s;
     width: 100%;
}
.progress__bar__fill {
     position: absolute;
     height: 100%;
     background-image: url('./game_image/progressbarfull.svg');
     transition: width 0.4s;
     z-index: 5;
}
.progress__bar__value {
     position: absolute;
     width: 100%;
     height: 100%;
     z-index: 6;
     color: #272727;

     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: bold;
}
.hidden{
     display: none;
}
/*
.timer {
     position: absolute;
     z-index: 5;
     top: 1%;
     left: 50%;
     font-size: 1.2em;
     font-weight: 600;
     color: #272727;
} */

.game__over__screen{
     background-image: url('game_image/tlo_bez_napisu.svg');

     /* position: absolute; */
     background-size: cover;
     background-position: center;
     width: 100%;
     height: 100%;
     display: none;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     /* z-index: 5; */
     
}
.game__over__screen.active {
     display: flex;
}
.end__game__image__text {
     z-index: 1;
     width: 45%;
     height: auto;
     display: flex;
}
.final__score {
     position: relative;
     z-index: 1;
     margin: 4px;
     font-size: 1.2em;
     line-height: 1.2;
     color: #272727;
}
.best__score {
     font-size: 1.2em;
     line-height: 1.2;
     color: #272727;
}
.end__game__text {
     width: 65%;
     margin: 15px 0px;

     /* display: flex; */

     font-size: 1em;
     color: #272727;
     line-height: 1.2;
     text-align: center;
}
.full__human {
     z-index: 10;
     width: 25%;
     height: auto;
     display: flex;
}

.button-new {
     position: relative;
     margin: 8px;
     z-index: 10;
     font-size: 1.2em;
     width: 150px;
     height: 50px;
     margin: 6px 0px;
     padding: 0px;
     border: 2px solid #272727;
     color: #272727;
     cursor: pointer;
}

.game__button--easy {
     position: absolute;
     bottom: 3%;
     right: 52%;
     width: 150px;
     height: 50px;
     font-size: 1.5em;
     border: 2px solid #000;
     align-self: flex-end;
}

.game__button--hard {
     position: absolute;
     bottom: 3%;
     left: 52%;
     width: 150px;
     height: 50px;
     font-size: 1.5em;
     border: 2px solid #000;
     align-self: flex-end;
}

.button-pressed{
     background-color: #0098c9;
}

.game__ranking{
     display: grid;
     grid-template-columns: 50% 50%;
}